
body, html {
margin: 0;
padding: 0;
height: 100%;
}

#fundo {
height: 100vh;
background-image: url("../img/fundo.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
